.accordion {
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAARAAAAC5CAMAAADXsJC1AAAAqFBMVEX////tGyQAAADuGyLq6uqfn5/qHSPTFh7sGyXrHCKdVVrNra7LKi+tq61eX17eDRTnsbM7JCXTZ23dHSX//f////urq6sDAANfXV/5//319fWnra3V1dWampoAAwAcGRk1JSYTEBG+qKrLaHbHa23OaW7AcXd/X2EHAAfFEibiFyi/KDSWWVnTFiDNqqvvGSvJJzXGABvWysjns67muLyKcnJPT0+1tbUZe6NyAAABzUlEQVR4nO3UWW/TQBSA0WTSuk4haRO8UhoCtCzd2OH//zMmKSAhwRMPd6SeT/aM3+bq2PJkIkmSJEmSJP1/45iX5n6LqWl/FjaB/tHTw65bLBZdd3a2iCyfv5+gexYMcpAK67wUkL7vIx12A+Rlkw5LANnEUvxRCSB9er5abVexbber7Ys8ShkgL1+tL9ahXV5crl+/SW+LAEnp0bvqqHoSW3V1fVPIF5JBbuv5tJoGNq/r+vFxIf+QDHJUT+tIkBkQIECAAAECBAgQIECAAAECBAgQIECAAAECBAgQIECAAAECBAgQIECAAAECBAgQIECAAAECBAgQIECAAAECBAgQIECAAAECBAgQIECAAAECBAgQIECAAAECBAgQIECAAAECBAgQIECAAAECBAgQIECAAAECBAgQIECAAAECBAgQIECAAAECBAgQIECAAAECBAgQIECAAAHyIEFmQH6D9Onudl5V9SyuOr+O9x+O8yglgKR097E6qU6CqwoC+XS66/NpbF++FgLSp2IqA2TXZn/3QaXN7vz9UykgxXQeDfJtuRyW9/3aYxqGfA3D92AQ/aW2HSfN2Ixj3AhNPrsdxzZuAkmSJEmSJEl6eP0Ak8fWBzjTYacAAAAASUVORK5CYII=);
    cursor: pointer;
    padding: 18px;
    width: 100px;
    border: none;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    background-repeat:no-repeat;
    baackground-position:center;
    
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;

