/* ///////////////////////////////////////////////////////////////////// 
//  01 - Universal
/////////////////////////////////////////////////////////////////////*/

html, body {
    height:100%;
}

body {
	font-family: 'Lato', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
	font-family: 'Dosis', sans-serif;
}
a {
	color: #e66f69;
	transition: 0.4s ease all;
	outline: none;
}
a:hover,a:active,a:focus{
	text-decoration: none;
	color: #e66f69;
	opacity: 0.9;
	outline: none;
}
.btn {
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 0px;
    font-size: 1.2em;
    transition: 0.4s ease all;
}
.btn:hover {
    background: #fff;
    color: #000;
}
.block_title {
    font-size: 4em;
    font-weight: 300;
    text-align: center;
    overflow: hidden;
    margin-bottom: 70px;
}
.block_title:before,.block_title:after {
    content: "";
    background: #ccc;
    display: inline-block;
    height: 1px;
    position: relative;
    width: 42%;
    vertical-align: middle;
}
.block_title:before {
    right: 0.5em;
    margin-left: -42%;
}
.block_title:after {
    left: 0.5em;
    margin-right: -42%;
}

/* ///////////////////////////////////////////////////////////////////// 
//  03 - Navigation 
/////////////////////////////////////////////////////////////////////*/

#navigation{
	background: #111;
}
.nav-wrap {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
}

.logo {
	height: 76px;
	display: table;
	text-align: left;
}

.logo-text {
    font-size: 2em;
    padding: 0.2em 0;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 80;
    display: table-cell;
	vertical-align: middle;
}

.menu {
    float: right;
    font-size: 3em;
    color: #fff;
    padding-top: 10px;
}
.dropdown-menu {
    min-width: 240px;
    right: 0;
    left: auto;
    border: 1px solid #000;
    box-shadow: none;
    border-radius: 0px;
    margin-top: 5px;
}
.dropdown-menu ul {
    list-style: none;
    margin: 0;
    padding: 1em 2em;
    margin-top: 5%;
}
.dropdown-menu ul li {
    padding: 0.3em 0em 0.6em 0em;
    font-size: 1.3em;
    position: relative;
}
.dropdown-menu ul li a i {
    position: absolute;
    right: 0;
    top: 20%;
    font-size: 25px;
}
.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	
	border-bottom: 8px solid white;
	float: right;
	margin-top: -5%;
	margin-right: 23px;
}

/* ///////////////////////////////////////////////////////////////////// 
//  04 - estaciones
/////////////////////////////////////////////////////////////////////*/

#estaciones div {
	allign: center;
	border: 5px solid black;
	float: center;
	margin:10px;
	padding:10px;
}
	
	

/* ///////////////////////////////////////////////////////////////////// 
//  08 - Footer 
/////////////////////////////////////////////////////////////////////*/



footer {
    width: 100%;
    background: #000;
    color: #fff;
}
.copyright {
    margin: 0;
    padding: 20px 0px;
    text-align: left;
}
.designed {
    margin: 0;
    padding: 20px 0px;
    text-align: right;
}
.designed a:hover {
    color: #e66f69;
}



/* ///////////////////////////////////////////////////////////////////// 
//  09 - Responsive Fixes
/////////////////////////////////////////////////////////////////////*/



@media all and (min-width: 1400px) {
	.centered p {
		font-size: 3em;
	}
	.bigheadline {
		font-size: 15em;
	}
	.subheadline {
		font-size: 5em;
	}
}

@media all and (max-width: 1200px) and (min-width: 992px) {

	.services {
		max-width: 293px;
		height: 213px;
	}
	.service-wrap i {
	    font-size: 4em;
	    margin-top: 28px;
	}
	.service-wrap h3 {
	    font-size: 1.4em;
	}
	.service-wrap p {
	    font-size: 11px;
	    padding: 0px 35px;
	}
}

@media all and (max-width: 991px) and (min-width: 768px) {

	.services {
		max-width: 293px;
		height: 293px;
		margin: 0 auto;
		margin-bottom: 30px;
	}
	.service-wrap p {
		padding: 0px 40px;
		font-size: 14px;
	}
	.pe-dj {
		font-size: 6em;
	}

}

@media all and (max-width: 991px) {

	header{
		background: url(../images/bg-small.jpg) no-repeat;
		background-size: cover;
		background-attachment: fixed;
		background-position: 50% -50px;
	}
}

@media all and (max-width: 768px) {
	.services {
		max-width: 293px;
		height: 293px;
		margin: 0 auto;
		margin-bottom: 30px;
	}
	.pe-dj {
		font-size: 6em;
	}
	.service-wrap i {
		margin-top: 50px;
	}
	.centered p {
		font-size: 2em;
	}
	.bigheadline {
		font-size: 6em;
	}
	.subheadline {
		font-size: 2em;
	}
	.item-space figure {
	    max-width: 360px;
	    margin: 0 auto;
	}
	.moreDetails {
		margin-bottom: 60px;
	}
	.copyright, .designed {
		text-align: center;
	}
	.scrollDown {
	    top: 70%;
	    left: 46%;
	}
}
@media all and (max-width: 380px) {


	.logo-text {
	    font-size: 2em;
	}
	.centered p {
	    font-size: 1em;
	}
	.bigheadline {
	    font-size: 4em;
	}
	.subheadline {
	    font-family: 'Titillium Web',sans-serif;
	    font-size: 1.5em;
	    font-weight: 200;
	    margin: 0;
	}
	.testimonila-block p {
	    max-width: 90%;
	}
	.social-icons a {
	    width: 30px;
	    height: 30px;
	}
	
}

@media all and (max-width: 480px) {

	.scrollDown {
	    top: 70%;
	    left: 44%;
	}
}
