.row {
    display:flex;
    justify-content:center;
    align-content:center;
}
    
.accordion {
    display:inline-block;
    cursor: pointer;
    padding: 18px;
    width: 200px;
    height: 200px;
    border: none;
    outline: none;
    transition: 0.4s;
    
}

#boga {
        background:url('../images/Isla Boga.jpg') no-repeat;
        background-position:center;
}

#bauhaus {
        background:url('assets/images/Isla Bauhaus') no-repeat;
        background-position:center;
}

#jaula {
        background:url('assets/images/Isla Jaula.jpg') no-repeat;
        background-position:center;
}

#pieza {
        background:url('assets/images/Isla Pieza.jpg')no-repeat;
        background-position:center;
}
#otra {
        background:url('assets/images/Isla Fad.jpg')no-repeat;
        background-position:center;
}


.active,
.accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    max-width:0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    transition: max-width 0.2s ease-out;
}
    
